

# loguru
# peft
# protobuf
# sentencepiece
# einops
# plyfile
# pyyaml
# tqdm
# numpy
# easydict==1.9.0
# scikit-image
# opencv-python
# joblib
# matplotlib
# pandas
# albumentations==0.5.2
# hydra-core==1.1.0
# pytorch-lightning==2.4.0
# tabulate
# kornia
# webdataset
# packaging
# scikit-learn
# wldhx.yadisk-direct
# diffusers==0.32.0
# transformers==4.45.2
# git+https://github.com/facebookresearch/segment-anything.git
# imageio-ffmpeg==0.4.9 
# colorama
# cython
# # scipy==1.8.1
# shapely
# h5py==3.7.0
# submitit==1.4.2
# # timm==0.4.12
# einops==0.4.1
# icecream==2.1.2
# setuptools==59.5.0
# ftfy==6.1.1
# regex==2022.6.2
# inflect==5.6.0
# diffdist==0.1
# mmcv
# -f https://shi-labs.com/natten/wheels/cu118/torch2.4.0/index.html
# natten==0.14.4
# ultralytics
# open_clip_torch




# pip install -r requirements.txt
